<h1 class="mt-5"><i class="fas fa-location-arrow"></i> <%= Displacement.model_name.human count: 2 %></h1>

<%= link_to new_displacement_path do %>
      <span class="pull-left"><i class="far fa-lg fa-plus-square"></i> <%= t('buttons.new') << ' ' << Displacement.model_name.human
 %> </span>
<% end %>

      
<p id="notice"><%= notice %></p>

<%= form_for_filterrific @filterrific do |f| %>

  <div class="well">
    <div class="row">
      

      <div class="col-md-3">
        <%= f.label t('labels.sorted_by') %>
        <%= f.select(
          :sorted_by, @filterrific.select_options[:sorted_by],
           {}, { :class => 'form-control' }
            ) %>
      </div>
      
      <div class="col-md-3">
        <%= f.label t('labels.date_first') %>
        <%= f.date_field(:with_dateDay_gte, class: 'form-control ') %>
      </div>

      <div class="col-md-3">
        <%= f.label t('labels.date_finish') %>
        <%= f.date_field(:with_dateDay_lt, class: 'form-control') %>
      </div>

      <div class="col-md-3">
          <br>
          <%= link_to(
            t('buttons.reset_filter'),
            reset_filterrific_url,
            class:"btn btn-default"
          ) %>
      </div>
    </div>
  </div>

  <%= render_filterrific_spinner %>
<% end %>



<%= render partial:'displacements/list', locals: { displacements: @displacements } %>

