<h1><i class="fas fa-location-arrow"></i> <%= Displacement.model_name.human count: 2 %></h1>

<% if can? :create, Displacement %>
  <%= link_to new_displacement_path do %>
        <span class="pull-left"><i class="far fa-lg fa-plus-square"></i> <%= t('buttons.new') << ' ' << Displacement.model_name.human
  %> </span>
  <% end %>
<% end %>
<%= form_for_filterrific @filterrific do |f| %>

  <div class="well">
    <div class="row">

      <div class="col-md-3">
        <%= f.label t('labels.sorted_by') %>
        <%= f.select(
          :sorted_by, @filterrific.select_options[:sorted_by],
           {}, { :class => 'form-control' }
            ) %>
      </div>
      
      <div class="col-md-3">
        <%= f.label "Projeto" %>
        <%= f.select(
          :with_project,
          @filterrific.select_options[:with_project],
          {include_blank: '- Qualquer -'}, { :class => 'form-control' }
        ) %>
      </div>

      <div class="col-md-3">
        <%= f.label t('labels.date_first') %>
        <%= f.date_field(:with_dateDay_gte, class: 'form-control ') %>
      </div>

      <div class="col-md-3">
        <%= f.label t('labels.date_finish') %>
        <%= f.date_field(:with_dateDay_lt, class: 'form-control') %>
      </div>

    </div>

    <div class="row">  
      <div class="col-md-6">
        <%= f.label "Funcionário" %>
        <%= f.select(
          :with_functionary_id,
          @filterrific.select_options[:with_functionary_id],
          {include_blank: '- Qualquer -'}, { :class => 'form-control'}
        ) %>
      </div>

      <div class="col-md-4">
        <%= f.label "Opções"%><br />
        <%= link_to( t('buttons.reset_filter'), reset_filterrific_url, class:"btn btn-outline-primary") %>
      </div>

    </div>

  </div>
  <%= render_filterrific_spinner %> 
  
<% end %>



<%= render partial:'displacements/list', locals: { displacements: @displacements } %>

