<h1 ><i class="fas fa-location-arrow"></i><%= " #{Displacement.model_name.human}: #{@displacement.id} " %></h1>
  
  <div class="row">
    <div class="col-md-8"> 
      <div id="map"></div>
      <div class="mb-4">  
        <%= link_to "Ver no Google", "https://www.google.com/maps/dir/?api=1&origin=#{@displacement.addressSrc.geolocalization}&destination=#{@displacement.addressDst.geolocalization}", {class: "btn btn-sm btn-outline-secondary", target: "_blank", rel: "external"} %>
      </div>
   </div> 

    <div class="col-md-4">      
        <p>
          <strong><%= Displacement.human_attribute_name("car_id") %>: </strong>
          <%= link_to full_car(@displacement.car), car_path(@displacement.car) %> 
          </p>
        <p>
          <strong><%= Displacement.human_attribute_name("functionary_id") %>: </strong>
          <%= link_to @displacement.functionary.name, functionary_path(@displacement.functionary) %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("dateDay") %>: </strong>
          <%= l @displacement.dateDay%>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("osNumber") %>: </strong>
          <%= @displacement.osNumber %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("osProject") %>: </strong>
          <%= @displacement.osProject %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("startHour") %>: </strong>
          <%= @displacement.startHour.strftime("%H:%M") unless @displacement.startHour.nil?   %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("endHour") %>:</strong>
          <%= @displacement.endHour.strftime("%H:%M")  unless @displacement.endHour.nil?  %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("addressSrc") %>:</strong>
          <%= link_to full_address(@displacement.addressSrc), address_path(@displacement.addressSrc) %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("addressDst") %>:</strong>
          <%= link_to full_address(@displacement.addressDst), address_path(@displacement.addressDst) %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("kmStart") %>:</strong>
          <%= @displacement.kmStart %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("kmEnd") %>:</strong>
          <%= @displacement.kmEnd %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("kmCount") %>:</strong>
          <%= @displacement.kmCount %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("velocity") %>:</strong>
          <%= velocity_km(@displacement.velocity) %>
        </p>
        <p>
          <strong><%= Displacement.human_attribute_name("annotation") %>:</strong>
          <%= @displacement.annotation %>
        </p>

    </div>
  </div>


<div class="form-group  text-center d-print-none ">
  <% if can? :index, Displacement %>
    <%= link_to t('buttons.back'), displacements_path, class:"btn btn-sm btn-success" %>
 <% end %>
  <% if can? :update, Displacement %>
    <%= link_to t('buttons.edit'), edit_displacement_path(@displacement), class:"btn btn-sm btn-primary" %>
  <% end %>  
  <% if can? :destroy, Displacement %>
    <%= link_to t('buttons.delete'), displacement_path(@displacement), method: :delete, data: { confirm:  I18n.t('messages.confirm_with',item: " #{Displacement.model_name.human}: #{@displacement.id} " )}, class: "btn btn-sm btn-danger" %>
  <% end %>
</div>

  <div id="srcLocal" class="d-none"> 
    <%= @displacement.addressSrc.geolocalization %>
  </div>
  <div id="dstLocal" class="d-none">
    <%= @displacement.addressDst.geolocalization %>
  </div>
