
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-signin text-center"})  do |f| %>
  <%#= devise_error_messages! %>
  <img class="mb-4" src="https://s3.amazonaws.com/gupy5/production/companies/167/images/logo.jpg" alt="" width="82" height="92">
      <h1 class="h3 mb-3 font-weight-normal">Reenviar instruções de confirmação!</h1>  

    <div class="form-group">
      <%= f.label :email, class: 'sr-only' %>
      <%= f.email_field :email, autofocus: true,  autocomplete: "email", class: "form-control", placeholder: "Email" %>
    </div>

    <%= submit_tag t('buttons.send'),  class:"btn btn-lg btn-primary btn-block" %>

    <p class="mt-5 mb-3 text-muted">
      <%= render "devise/shared/links" %>
    </p>

  <% end %>
