<h1><i class="fas fa-map-marker-alt"></i> <%= Address.model_name.human count: 2 %></h1>

<% if can? :create, Address %>
  <%= link_to new_address_path do %>
        <span class="pull-left"><i class="far fa-lg  fa-plus-square"></i> <%= t('buttons.new') << ' ' << Address.model_name.human
  %> </span>
  <% end %>
<% end %>

<div  class="table-striped table-sm table-responsive table-hover mt-3">
  <table class="table">
    <caption> <%= page_entries_info @addresses %></caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= Address.human_attribute_name("description") %> </th>
        <th scope="col"><%= Address.human_attribute_name("city") %> </th>
        <th scope="col"><%= Address.human_attribute_name("uf") %> </th>
        <% if %w[leader].include? current_user.functionary.function %> 
          <th scope="col"><%= Address.human_attribute_name("functionary_id") %> </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr class='clickable-row' data-href='<%=  address_path(address) %>' >
          <td  scope="row"><%= address.id %></td>
          <td><%= address.description %></td>
          <td><%= address.city %></td>
          <td><%= address.uf %></td>     
          <% if %w[leader].include? current_user.functionary.function %> 
            <td><%= address.functionary.name %></td>   
          <% end %>       
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-12" >
    <%= paginate @addresses %>
  </div>
</div>



