<h1 ><i class="fas  fa-users"></i> <%= Functionary.model_name.human count: 2 %></h1>

<% if can? :create, Functionary %>
  <%= link_to new_functionary_path do %>
        <span class="pull-left"><i class="far fa-lg  fa-plus-square"></i> <%= t('buttons.new') << ' ' << Functionary.model_name.human
  %> </span>
  <% end %>
<% end %>

<div  class="table-striped table-sm table-responsive table-hover mt-3">
  <table class="table">
    <caption> <%= page_entries_info @functionaries %></caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= Functionary.human_attribute_name("matriculation")%></th>
        <th scope="col"><%= Functionary.human_attribute_name("name")%></th>
        <th scope="col"><%= Functionary.human_attribute_name("active")%></th>
      </tr>
    </thead>
    <tbody>
      <% @functionaries.each do |functionary| %>
        <tr  class='clickable-row' data-href='<%=  functionary_path(functionary) %>'>
          <td scope="row"><%= functionary.id %> </td>
          <td><%= functionary.matriculation %></td>
          <td><%= functionary.name %></td>
          <td><%= render inline: active_icon(functionary.active) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
    <div class="text-center">
      <%= paginate @functionaries %>
    </div>
</div>
