<div class="m-b-4">
  <h1 ><i class="fas fa-users"></i>
    <%= " #{Functionary.model_name.human count: 1} " %>     
    <span class="badge badge-info " > <%= @functionary.id %></span>
  </h1>
</div>

<p>
  <strong><%= Functionary.human_attribute_name("matriculation") %>: </strong>
  <%= @functionary.matriculation %>
</p>

<p>
  <strong><%= Functionary.human_attribute_name("name") %>: </strong>
  <%= @functionary.name %>
</p>

<p>
  <strong><%= Functionary.human_attribute_name("function") %>: </strong>
  <%= Functionary.human_attribute_name(@functionary.function) %>
</p>

<p>
  <strong><%= Functionary.human_attribute_name("leader") %>: </strong>
  <%= leader_name(@functionary.leader) %>
</p>

<p>
  <strong><%= Functionary.human_attribute_name("email") %>: </strong>
  <%= @functionary.user.email %>
</p>

<p>
  <strong><%= Functionary.human_attribute_name("active") %>: </strong>
  <%= render inline: active_icon(@functionary.active) %>
</p>


<div  class="table-striped table-sm table-responsive table-hover mt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= Car.human_attribute_name("plate")%></th>
        <th scope="col"><%= Car.human_attribute_name("mark")%></th>
        <th scope="col"><%= Car.human_attribute_name("modelType")%></th>
      </tr>
    </thead>
    <tbody>
      <% @functionary.cars.each do |car| %>
        <tr  class='clickable-row' data-href='<%=  car_path(car) %>'>
          <td scope="row"><%= car.id %> </td>
          <td><%= car.plate %></td>
          <td><%= car.mark %></td>
          <td><%= car.modelType %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form-group d-print-none ">

  <% if can? :index, Functionary %>
    <%= link_to t('buttons.back'), functionaries_path, class:"btn btn-success" %>
  <% end %>
  <% if can? :edit, Functionary %>
    <%= link_to t('buttons.edit'), edit_functionary_path(@functionary), class:"btn btn-primary" %>
  <% end %>
  <% if can? :destroy, Functionary %>
    <%= link_to t('buttons.delete'), functionary_path(@functionary), method: :delete, data: { confirm:   I18n.t('messages.confirm_with',item: " #{Functionary.model_name.human}: #{@functionary.name} " )}, class: "btn btn-danger" %>
  <% end %>
</div>
    