<div class="m-b-4">
  <h1 ><i class="fas fa-users"></i>
    <%= " #{Functionary.model_name.human count: 1} " %>     
    <span class="badge badge-info " > <%= @functionary.id %></span>
  </h1>
</div>

<p>
  <strong><%= Functionary.human_attribute_name("matriculation") %>: </strong>
  <%= @functionary.matriculation %>
</p>

<p>
  <strong><%= Functionary.human_attribute_name("name") %>: </strong>
  <%= @functionary.name %>
</p>

<p>
  <strong><%= Functionary.human_attribute_name("function") %>: </strong>
  <%= @functionary.function %>
</p>

<p>
  <strong><%= Functionary.human_attribute_name("leader") %>: </strong>
  <%= @functionary.leader_name(@functionary.leader) %>
</p>

<p>
  <strong><%= Functionary.human_attribute_name("active") %>: </strong>
  <%= render inline: @functionary.active_icon(@functionary.active) %>
</p>


<div class="form-group d-print-none ">
  <%= link_to t('buttons.back'), functionaries_path, class:"btn btn-success" %>
  <%= link_to t('buttons.edit'), edit_functionary_path(@functionary), class:"btn btn-primary" %>
  <%= link_to t('buttons.delete'), functionary_path(@functionary), method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" %>
</div>
    