
<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">

    <div class="form-group col-md-4">
      <%= form.label :mark %>
      <%= form.text_field :mark, :class => "form-control"  %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :modelType %>
      <%= form.text_field :modelType, :class => "form-control"  %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :plate %>
      <%= form.text_field :plate, :class => "form-control"  %>
    </div>
 </div>
  <div class="row">
    
    <div class="form-group col-md-12">
     <%= form.label :functionary_id %>
     <% options = options_from_collection_for_select(@list_functionaries, 'id', 'name', @car.functionary_id) %>
     <%= form.select :functionary_id,   options, {}, {:class => "form-control"}  %>
    </div>
</div>

  <div class="form-group">
    <%= link_to t('buttons.back'), cars_path, class:"btn btn-success" %>
    <%= submit_tag t('buttons.save'),  class:"btn btn-primary" %>
  </div>
<% end %>
