<h1><i class="fas   fa-car"></i> <%= Car.model_name.human count: 2 %></h1>

<% if can? :create, Car %>
  <%= link_to new_car_path do %>
        <span class="pull-left"><i class="far fa-lg  fa-plus-square"></i> <%= t('buttons.new') << ' ' << Car.model_name.human
  %> </span>
  <% end %>
<% end %>

<div  class="table-striped table-sm table-responsive table-hover mt-3">
  <table class="table">
   <caption> <%= page_entries_info @cars %></caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"><%= Car.human_attribute_name("plate")%></th>
        <th scope="col"><%= Car.human_attribute_name("mark")%></th>
        <th scope="col"><%= Car.human_attribute_name("modelType")%></th>
        <th scope="col"><%= Car.human_attribute_name("km")%></th>
        <% if %w[leader].include? current_user.functionary.function %> 
          <th scope="col"><%= Functionary.human_attribute_name("name")%></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <tr  class='clickable-row' data-href='<%=  car_path(car) %>'>
          <td scope="row"><%= car.id %> </td>
          <td><%= car.plate %></td>
          <td><%= car.mark %></td>
          <td><%= car.modelType %></td>
          <td><%= car.km %></td>
          <% if %w[leader].include? current_user.functionary.function %> 
            <td><%= car.functionary.name %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-12" >
    <%= paginate @cars %>
  </div>
</div>
