<div class="m-b-4">
  <h1 ><i class="fas fa-car"></i>
    <%= " #{Car.model_name.human count: 1} " %>     
    <span class="badge badge-info " > <%= @car.id %></span>
  </h1>
</div>

<p>
  <strong><%= Car.human_attribute_name("plate")%>: </strong>
  <%= @car.plate %>
</p>

<p>
  <strong><%= Car.human_attribute_name("mark")%>: </strong>
  <%= @car.mark %>
</p>

<p>
  <strong><%= Car.human_attribute_name("modelType")%>: </strong>
  <%= @car.modelType %>
</p>

<p>
  <strong><%= Car.human_attribute_name("functionary_id")%>: </strong>
  <%= link_to functionary_path(@car.functionary) do
    @car.functionary.name
  end %>
</p>


<div class="form-group d-print-none ">
  <% if can? :index, Car %>
    <%= link_to t('buttons.back'), cars_path, class:"btn btn-success" %>
  <% end %>

  <% if can? :update, Car %>
    <%= link_to t('buttons.edit'), edit_car_path(@car), class:"btn btn-primary" %>
  <% end %>

  <% if can? :destroy, Car %>
    <%= link_to t('buttons.delete'), car_path(@car), method: :delete, data: { confirm:   I18n.t('messages.confirm_with',item: " #{Car.model_name.human}: #{full_car(@car)} " )}, class: "btn btn-danger" %>
  <% end %>
</div>
    