<!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md fixed-top nav-menu  ">

        <%= link_to root_path, :class => "navbar-brand mr-0 mr-md-2" do %>
           <%= image_tag("logo.png", height:"28" ) %>
        <% end %>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto ">

          <% if can? :index, Displacement %>
            <li class="nav-item">
              <%= link_to "Rotas", displacements_path, :class => "nav-link" << active_menu?('displacements')   %>
            </li>
          <% end %>

          <% if can? :index, Address %>
            <li class="nav-item">
              <%= link_to "Endereços", addresses_path, :class => "nav-link" << active_menu?('addresses') %>
            </li>
          <% end %>

          <% if can? :index, Car %>
            <li class="nav-item">
              <%= link_to "Carros", cars_path, :class => "nav-link" << active_menu?('cars') %>
            </li>
          <% end %>

          <% if can? :index, Functionary %>
            <li class="nav-item">
              <%= link_to "Funcionários", functionaries_path, :class => "nav-link" << active_menu?('functionaries')  %>
            </li>
          <% end %>

          <% if can? :index, Functionary %>
            <li class="nav-item">
              <%= link_to "Despesas", '#', :class => "nav-link" %>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Links</a>
            <div class="dropdown-menu">  
              <%= link_to  "Hermes", "http://hermes.itoc.solutis.com.br", {class: "dropdown-item", target: "_blank", rel: "external"} %>
              <%= link_to  "Painel TJBA", "http://painel.tj.solutis.com.br", {class: "dropdown-item", target: "_blank", rel: "external"} %>
              <%= link_to  "Sapho", "http://sapho.solutis.com.br", {class: "dropdown-item", target: "_blank", rel: "external"} %>
              <%= link_to  "ServiceDesk TJBA", "http://servicedesk.tjba.jus.br/CAisd/pdmweb.exe", {class: "dropdown-item", target: "_blank", rel: "external"} %>
              <%= link_to  "ServiceDesk SEC", "http://servicedesk.sec.solutis.com.br", {class: "dropdown-item", target: "_blank", rel: "external"} %>
              <%= link_to  "ServiceDesk MP", "https://csti.sistemas.mpba.mp.br", {class: "dropdown-item", target: "_blank", rel: "external"} %>
              <%= link_to  "Webmail", "http://outlook.office.com/owa/?realm=solutis.com.br", {class: "dropdown-item", target: "_blank", rel: "external"} %>
              <div class="dropdown-divider"></div>   
              <%= link_to  "Solutis Tecnologias", "http://solutis.com.br/", {class: "dropdown-item", target: "_blank", rel: "external"} %>
 
            </div>
          </li>

          </ul>

          <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"><%= current_user.email %> </li>
              <li class="nav-item">
                <%= link_to '#' do %>
                  <i class="fas fa-cog"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, :method => :delete do %>
                  <i class="fas fa-power-off"></i>
                <% end %>
              </li>

           </ul>
            
        </div>
      </nav>